body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    width: 500px; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Increase border-radius for rounded corners */
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
}

label {
    margin-top: 10px;
    display: block; /* Set display to block */
}

textarea, input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
}

.error, .success {
    margin-top: 10px;
    color: red;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed; /* Fix the position */
    top: 0; /* Align it to the top */
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
